<!-- main / welcome section -->
<section class="cover-container d-flex h-100 p-3 mx-auto flex-column align-items-center justify-content-center">
  <main class="px-3 overlay">
    <h1>Welcome to Ekenyoro</h1>
    <p class="lead">Promoting Beekeeping as an Alternative Livelihood</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
  </main>
</section>

<!-- features section -->
<section class="features bg-warning-subtle py-5">
  <div class="container py-5">
    <h2 class="text-center mb-4">Explore the World of Bee Farming</h2>
    <p class="text-center text-muted pb-4">Discover the Key Features of Our Organization</p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card border-0 pb-5 h-100 d-flex flex-column card-hover">
          <img src="/assets/img/main-1.png" class="card-img-top rounded-top-3" alt="Image 1">
          <div class="card-body my-3">
            <h5 class="card-title fw-bold text-center py-3 card-link">Comprehensive Resources</h5>
            <p class="card-text text-center">
              Access a wealth of beekeeping guides, articles, videos, and expert advice. Enhance your knowledge on hive
              management, honey production, and sustainable practices.
            </p>
          </div>
          <div
            class="card-footer border-0 bg-transparent mt-auto text-center d-flex justify-content-center align-items-center">
            <button class="btn btn-primary">Explore More</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-0 pb-5 card-hover h-100 d-flex flex-column">
          <img src="/assets/img/main-2.png" class="card-img-top rounded-top-3" alt="Image 2">
          <div class="card-body my-3">
            <h5 class="card-title fw-bold text-center py-3 card-link">Simplified Hive Care</h5>
            <p class="card-text text-center">
              Streamline hive management with interactive tools. Track colony progress, manage inspections, and stay
              organized with user-friendly interfaces.
            </p>
          </div>
          <div
            class="card-footer border-0 bg-transparent mt-auto text-center d-flex justify-content-center align-items-center">
            <button class="btn btn-primary">Learn More</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-0 pb-5 card-hover h-100 d-flex flex-column">
          <img src="/assets/img/main-3.png" class="card-img-top rounded-top-3" alt="Image 3">
          <div class="card-body my-3">
            <h5 class="card-title fw-bold text-center py-3 card-link">Connect with Beekeepers</h5>
            <p class="card-text text-center">
              Join a thriving community of beekeepers, share experiences, ask questions, and learn from experts. Foster
              valuable connections in the beekeeping world.
            </p>
          </div>
          <div
            class="card-footer border-0 bg-transparent mt-auto text-center d-flex justify-content-center align-items-center">
            <button class="btn btn-primary">Connect</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>