<!-- main / welcome section -->
<section class="cover-container d-flex h-100 p-3 mx-auto flex-column align-items-center justify-content-center">
  <main class="px-3 overlay">
    <h1>Welcome to Ekenyoro</h1>
    <p class="lead">Promoting Beekeeping as an Alternative Livelihood</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
  </main>
</section>

<!-- features section -->
<section class="features bg-warning-subtle py-5">
  <div class="container py-5">
    <h2 class="text-center mb-4">Explore the World of Bee Farming</h2>
    <p class="text-center text-muted pb-4">Discover the Key Features of Our Organization</p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card border-0 pb-5 h-100 d-flex flex-column card-hover">
          <img src="/assets/img/main-1.png" class="card-img-top rounded-top-3" alt="Image 1">
          <div class="card-body my-3">
            <h5 class="card-title fw-bold text-center py-3 card-link">Comprehensive Resources</h5>
            <p class="card-text text-center">
              Access a wealth of beekeeping guides, articles, videos, and expert advice. Enhance your knowledge on hive
              management, honey production, and sustainable practices.
            </p>
          </div>
          <div
            class="card-footer border-0 bg-transparent mt-auto text-center d-flex justify-content-center align-items-center">
            <button class="btn btn-primary">Explore More</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-0 pb-5 card-hover h-100 d-flex flex-column">
          <img src="/assets/img/main-2.png" class="card-img-top rounded-top-3" alt="Image 2">
          <div class="card-body my-3">
            <h5 class="card-title fw-bold text-center py-3 card-link">Simplified Hive Care</h5>
            <p class="card-text text-center">
              Streamline hive management with interactive tools. Track colony progress, manage inspections, and stay
              organized with user-friendly interfaces.
            </p>
          </div>
          <div
            class="card-footer border-0 bg-transparent mt-auto text-center d-flex justify-content-center align-items-center">
            <button class="btn btn-primary">Learn More</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-0 pb-5 card-hover h-100 d-flex flex-column">
          <img src="/assets/img/main-3.png" class="card-img-top rounded-top-3" alt="Image 3">
          <div class="card-body my-3">
            <h5 class="card-title fw-bold text-center py-3 card-link">Connect with Beekeepers</h5>
            <p class="card-text text-center">
              Join a thriving community of beekeepers, share experiences, ask questions, and learn from experts. Foster
              valuable connections in the beekeeping world.
            </p>
          </div>
          <div
            class="card-footer border-0 bg-transparent mt-auto text-center d-flex justify-content-center align-items-center">
            <button class="btn btn-primary">Connect</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- programs section -->
<section class="programs bg-success-subtle">
  <div class="container marketing py-5">
    <h2 class="text-center mb-4">Engage in programs</h2>
    <p class="text-center text-muted pb-3">Explore Our Initiatives in Beekeeping and Sustainable Agriculture</p>

    <!-- <hr class="featurette-divider"> -->

    <div class="row featurette py-3 mt-4">
      <div class="col-md-6">
        <h2 class="featurette-heading fw-normal lh-1">
          <span class="program-link">Bees4Life Program.</span>
          <span class="text-body-secondary">
            It’ll blow your mind.</span>
        </h2>
        <p class="lead">Promoting apiculture as an alternative source of livelihood for traditional crop farmers.
          Encouraging sustainable practices and preserving agricultural land.</p>
      </div>
      <div class="col-md-5 offset-md-1">
        <img src="/assets/img/prog-1.png" alt="Program 2" class="featurette-image img-fluid">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette py-3">
      <div class="col-md-6 order-md-2 offset-md-1">
        <h2 class="featurette-heading fw-normal lh-1">
          <span class="program-link">Pollination Initiative.</span>
          <span class="text-body-secondary">
            See for yourself.</span>
        </h2>
        <p class="lead">Working towards creating awareness about the importance of pollinators and their role in food
          production. Educating
          farmers on creating bee-friendly environments.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/assets/img/prog-2.png" alt="Program 2" class="featurette-image img-fluid">
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12 text-center">
        <a href="#" class="btn btn-primary btn-lg">Explore All Programs</a>
      </div>
    </div>

  </div>
</section>

<!-- brands -->
<section class="brands py-5 bg-dark text-white">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-8 mx-auto text-center">
        <p class="section-subheading">Partners and Collaborators</p>
        <h2 class="section-heading">Our Trusted Brands</h2>
      </div>
    </div>
    <div class="row pb-5">
      <div class="col-md-4 text-center d-flex justify-content-center align-items-center">
        <img src="/assets/img/brand-1.jpg" alt="Brand 1" class="brand-icon img-fluid rounded-circle">
        <h4 class="brand-name py-3 ms-2">Brand 1</h4>
      </div>
      <div class="col-md-4 text-center d-flex justify-content-center align-items-center">
        <img src="/assets/img/brand-2.jpg" alt="Brand 2" class="brand-icon img-fluid rounded-circle">
        <h4 class="brand-name py-3 ms-2">Brand 2</h4>
      </div>
      <div class="col-md-4 text-center d-flex justify-content-center align-items-center">
        <img src="/assets/img/brand-3.jpg" alt="Brand 3" class="brand-icon img-fluid rounded-circle">
        <h4 class="brand-name py-3 ms-2">Brand 3</h4>
      </div>
    </div>
  </div>
</section>

<!-- promotional -->
<section class="promotional py-5">
  <div class="container-fluid container-xl py-5">
    <h2 class="text-center mb-4">Experience the Magic of Beekeeping</h2>
    <p class="text-center text-muted pb-4">Discover the Fascinating World of Bees</p>
    <div class="row">
      <div class="col-md-12">
        <div class="video-container">
          <iframe class="video-frame" src="https://www.youtube.com/embed/RFdwtUVwFKE" allowfullscreen></iframe>
        </div>
        <p class="text-center text-muted mt-2">
          Video source: <a href="https://www.youtube.com/watch?v=RFdwtUVwFKE">YouTube</a>
          By: <a href="https://youtube.com/@Scholarswing">@Scholarswing</a>
        </p>
      </div>
    </div>
  </div>
</section>