<header>
  <nav class="navbar navbar-expand-lg bg-light border-bottom">
    <div class="container-fluid">
      <!-- logo and brand name -->
      <a class="navbar-brand fw-bolder" href="#">
        <img src="assets/img/logo-3.jpg" alt="Logo" width="32" height="32"
          class="d-inline-block align-text-top rounded-1">
        Ekenyoro
      </a>
      <!-- toggle button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- links to pages -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <!-- homepage -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <!-- about -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              About
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="#">Mission & Vision</a></li>
              <li><a class="dropdown-item" href="#">Core Values</a></li>
              <li><a class="dropdown-item" href="#">Success Stories</a></li>
            </ul>
          </li>
          <!-- programs -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Programs
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Bees4Life</a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item" href="#">Benefits of Apiculture</a></li>
                  <li><a class="dropdown-item" href="#">Action Plans and Milestones</a></li>
                  <li><a class="dropdown-item" href="#">Visuals and Infographics</a></li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="#">Impact</a></li>
            </ul>
          </li>
          <!-- partners -->
          <li class="nav-item">
            <a class="nav-link" href="#">Partners</a>
          </li>
          <!-- resources -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Resources
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Library</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Categories and Topics</a></li>
                  <li><a class="dropdown-item" href="#">Downloadable Documents</a></li>
                  <li><a class="dropdown-item" href="#">Videos and Links</a></li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="#">Interactive Tools</a></li>
            </ul>
          </li>
          <!-- profile -->
          <li class="nav-item dropdown">
            <a class="nav-link d-block link-body-emphasis text-decoration-none dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
              <img src="https://github.com/mdo.png" alt="User" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu dropdown-menu-end text-small">
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>